@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Movies</h1>
<div id="container">
    <div id="results">
        @foreach (Movie movie in Model.Movies)
        {
            <div class="movie-entry">
                <h2>
                    @movie.Title
                <smaller>
                    @(movie.MPAA_Rating == null ? "" : $" ({movie.MPAA_Rating})")
                </smaller>
            </h2>
            <i>@movie.Major_Genre</i>
            <div class="ratings">
                <div>
                    Rotten Tomatoes
                    <h3>@movie.Rotten_Tomatoes_Rating</h3>
                </div>
                <div>
                    IMDB
                    <h3>@movie.IMDB_Rating</h3>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="checkbox-list">
        <form method="post">
            <input type="text" name="search" id="search" value="@Model.search"/>
            <input type="submit" value="Search And Filter" />

            <h2>MPAA Rating</h2>
            <label>
                <input type="checkbox" name="mpaa" value="G" checked="@Model.mpaa.Contains("G")"/>
                Rated G
            </label>
            <br />
            <label>
                <input type="checkbox" name="mpaa" value="PG" checked="@Model.mpaa.Contains("PG")"/>
                Rated PG
            </label>
            <br />
            <label>
                <input type="checkbox" name="mpaa" value="PG-13" checked="@Model.mpaa.Contains("PG-13")"/>
                Rated PG-13
            </label>
            <br />
            <label>
                <input type="checkbox" name="mpaa" value="R" checked="@Model.mpaa.Contains("R")"/>
                Rated R
            </label>
            <br />
            <label>
                <input type="checkbox" name="mpaa" value="NC-17" checked="@Model.mpaa.Contains("NC-17")"/>
                Rated NC-17
            </label>
            <br />
            <h4>Review Scores</h4>
            <label>
                Minimum IMDB Rating:
                <input type="number" min="0" max="10" step="0.1" name="minIMDB" value="@Model.minIMDB" />
            </label>
            <br />
            <label>
                Maximum IMDB Rating:
                <input type="number" min="0" max="10" step="0.1" name="maxIMDB" value="@Model.maxIMDB"/>
            </label>
        </form>
    </div>
</div>
